{% extends "base.tera" %}

{% block title %}分类: {{ category }} - {{ site.title }}{% endblock %}

{% block content %}
<section class="category-page">
  <h1 class="page-title">分类: <span class="category-name">{{ category }}</span></h1>
  <ul class="post-list-flat">
    {% for post in posts %}
    <li>
      <time>{{ post.created_at }}</time>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
